
.settings_container {
  display: flex;
  width: 100%;
}

.settings_sidebar {
  height: 100%;
  max-width: 300px;
  width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.settings_profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active_sidebar {
  background: #E5E5E5;
  border-radius: 10px;
}

.settings_right {
  flex: 1;
  padding: 40px;
  background: #fff;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* min-height: 75vh; */
}

.settings-content {
  display: flex;
  align-items: center;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

form {
  flex: 1;
}

label, input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-btn {
  background: #28a745;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background: #218838;
}

/* ----------------- */
.settings_sidebar_item {
  cursor: pointer;
}

.settings_sidebar_item:hover {
  background: #F2F2F2;
  border-radius: 10px;
}

.settings_sidebar_item:active {
  opacity: 0.4;
}

.settings_sidebar_item_desc {
  font-size: 16px;
}