.settings_right_notification_container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.settings_right_notification_info-card {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.settings_right_notification_setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #F2F2F2;
}
.settings_right_notification_toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
}
.settings_right_notification_toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.settings_right_notification_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.3s;
}
.settings_right_notification_slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.settings_right_notification_input:checked + .settings_right_notification_slider {
  background-color: #4CAF50;
}
.settings_right_notification_input:checked + .settings_right_notification_slider:before {
  transform: translateX(20px);
}