.settings_right_password_container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.settings_right_password_info-card {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.settings_right_password_form-group {
  text-align: left;
  margin-bottom: 15px;
}
.settings_right_password_form-group label {
  display: block;
  margin-bottom: 5px;
}
.settings_right_password_form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_send_code_error_settings_password {
  min-width: 350px !important;
  margin: auto;
}